# Игнорировать виртуальное окружение
venv/

# Игнорировать файлы конфигурации окружения
.env

# Игнорировать файлы кэша Python
__pycache__/

# Игнорировать все файлы с расширением .pyc
*.pyc

# Игнорировать файлы логов
*.log

# Игнорировать другие временные файлы
*.tmp